.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav button {
    padding: 6px 8px 6px 16px;
    font-size: 20px;
    color: #818181;
    display: block;
    width: 90%;
}

.sidenav button:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav button {font-size: 18px;}
}

.edge.sa > path {
    stroke: blue;
    stroke-width: 3;
}

.edge.sb > path {
    stroke: blueviolet;
    stroke-width: 3;
}

.node.sa > path,
.node.sa > polygon {
    fill: blue;
}

.node.sa > text {
    fill: white;
}

.node.sb > path,
.node.sb > polygon {
    fill: blueviolet;
}

.node.sb > text {
    fill: black;
}

.node.sc > path,
.node.sc > polygon {
    fill: green;
}

.node.sc > text {
    fill: white;
}